<div class="container-fluid">
  
    <div class="row">
        <div class="col-12">
    
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-div">
              <a class="navbar-brand nav-brand title-1" href="#">Trock</a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto"> 
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " [routerLink]="['/login']">Login</a>
                  </li>
            
              </ul>
        
            </div>
          </nav>
    
      </div>
    
    </div>
    
<div style="margin-top: 20vh;" class="col-md-6 mx-auto col-sm-8">
    <div class="card border-info cardBorder" style="border-radius:10px;border:2px solid green;box-shadow: 0 35px 30px rgba(0, 0, 0, 0.8);">
         <div style="padding-top:30px" class="card-body text-center ">
             <div class="text-center">
                <div>
                       <h3 class="text-success">Request Password!</h3>
                </div>
     
                <div>
                    <h6>Please provide your email and we'll send a link to set up a new password.</h6>
                </div>
            </div>

            <br>
            <form class="form-horizontal" role="form" #forgotForm="ngForm">

                <div class="input-group  form-field-container">

                       <input  placeholder="Enter your email" class=" input-box" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                    
                </div>

                
                  <br>
                        <button  type="button" style="float:right;border-radius:15px" class="btn btn-success" (click)="forgotPasswordFunction()" [disabled]="!forgotForm.valid">
                          Send </button>

                        
                        <button  type="button" style="float:left;border-radius:15px" class="btn btn-primary" [routerLink]="['/register']">Sign
                            In Instead</button>

                


            </form>
        </div>
   </div> 
</div>
</div>