
.container-fluid
{

    background-image:url('../../assets/images/gp.jpg');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
}


.nav-brand
{
    color:white;
}

.title-1
{
    font-family: 'Luckiest Guy', cursive;
    color:white;
}

input{

    border-bottom:2px solid orange;
    border-top:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
    outline:none;
    width:100vw;
}
